body {
    background-color: lightgrey;
    color: black;
  } 

  h1 {
    text-align: center;
    color: black;
    background-color: red;
    text-align: center;
    margin-right: 23%;
    margin-left: 23%
}

span {
    color: yellow;
}
